@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Rubik:700');


body {
  margin: 0.8in 0.5in;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto Mono', "Arial", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2 {
  font-family: 'Rubik', monospace;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
  transition: 3s background-color;
}

a:hover {
  color: #0000ff;
}

a.active {
  background-color: #fff;
  color: #f00;
  cursor: default;
}